In [3]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [4]:
url = 'https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv';

In [5]:
col_names = ['PassengerId', 'Survived','Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
pima = pd.read_csv(url, header=None, names=col_names,skiprows=[0, 4, 3])

In [6]:
pima.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
3,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
4,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [7]:
sex_mapping_values = {"male": 0, "female": 1}

pima.replace({'Sex':sex_mapping_values}, inplace=True)

In [8]:
feature_cols = ['Survived', 'Pclass', 'Sex','SibSp','Parch','Fare']
X = pima[feature_cols] # Features
y = pima.Survived # Target variable

In [9]:
type(X)

pandas.core.frame.DataFrame

In [10]:
X.head(10)

   Survived  Pclass  Sex  SibSp  Parch     Fare
0         0       3    0      1      0   7.2500
1         1       1    1      1      0  71.2833
2         0       3    0      0      0   8.0500
3         0       3    0      0      0   8.4583
4         0       1    0      0      0  51.8625
5         0       3    0      3      1  21.0750
6         1       3    1      0      2  11.1333
7         1       2    1      1      0  30.0708
8         1       3    1      1      1  16.7000
9         1       1    1      0      0  26.5500

In [11]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test
X_test = np.nan_to_num(X_test)
y_test = np.nan_to_num(y_test)

In [12]:
# Create Decision Tree classifer object

clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [13]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [14]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [15]:
from six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True, feature_names = feature_cols, class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('titanic_png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found